.flex.flex-col.mb-10.gap-5
  .flex.flex-row.items-center.justify-between
    %h1
      #{@publication.name}
    
    .flex.flex-row.gap-2 
      - if policy(@publication).update?
        = link_to '// Edit', edit_publication_path(@publication), class: 'btn-secondary  ml-auto'
       
         
      - if action_name == 'editor_view'
        = link_to  '↗ Public view', publication_path(@publication), class: 'btn-secondary ml-auto', target: :_blank


  .text-sm.text-slate-800 
    = @publication.bio