.flex.flex-col.mx-auto.max-w-3xl.mt-10.px-5
  
  
  .text-center.font-semibold.text-4xl.mb-5
    Your Publications



  - if @publications.empty?
    You dont have any publications yet. 
  

  - else
  

    - @publications.each do |publication|
      .flex.flex-row.pb-10
        = publication.name


  .flex-shrink-0
    %button.btn-primary{type: "button"}

      = link_to 'New Publication', new_publication_path