.div{id: "notification_#{notification.id}"}
  .flex.flex.row.px-3.drop-down-item.py-6.gap-3.text-sm
    - if notification.sender.present?
      %img.w-10.h-10.rounded-full{ src: notification.sender.avatar_url, alt: "Avatar" }
    - else
      %img.w-10.h-10.rounded-full{ src: "sfd", alt: "Avatar" }
    .flex.flex-col
      - if notification.sender.present?
        %span.font-semibold.text-slate-700 #{notification.sender.name} 
      
      %span.text-slate-500 #{notification.display_text}

      %span.text-slate-500.text-xs #{time_ago_in_words(notification.created_at)} ago
        
  
  %hr   
  