%footer.bg-white
  .mx-auto.max-w-7xl.overflow-hidden.px-6.py-20.sm:py-24.lg:px-8
    %p.my-5.text-center.text-xs.leading-5.text-gray-500
      Writter - the writing platform for original ideas and creators.

    %p.my-5.text-center.text-xs.leading-5.text-gray-500 © 2023 Writter, Inc. All rights reserved.