.relative
  = link_to publication_path(publication) do
    .flex.flex-row.justify-between

      

      .text-left.font-semibold.font-serif.text-lg
        #{publication.name}

  
  .absolute.top-0.right-0 

    - if current_user.followed_publications.include?(publication)    
      - follow = Follow.find_by(followable_id: publication.id, followable_type: publication.class.to_s, user: current_user.id)
      = button_to '', follow_path(follow), method: :delete, class: "relative before:content-['Following']  hover:before:content-['Unfollow'] text-center items-center rounded-full border border-gray  px-5 py-2 text-xs font-medium shadow-sm hover:text-red-500 hover:border-red-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" 
      
   


%p.mb-3.text-slate-500.text-sm{class: 'md:w-3/4'}
  #{publication.bio}

 