= link_to post_url(post) do
  .d-flex
    .post-card.align-left.w-fit
      .font-bold
        #{post.published_title}

      .text-sm
        = post.user.name

      .body-text.mt-5
        = post.published_body