
%p Hello #{@user.name},

%p
  Writers you have followed have published new posts today. Want to check them out?
%p

/link to each post in the list/

- @posts.each do |post|
  %p
    %a{:href => post_url(post)}= post.title
