.rounded-md.border.border-neutral-200.px-4.py-5.sm:px-6{class: 'transition hover:shadow-lg'}

  .flex.flex-row.justify-between.mb-3.items-center
    %span.text-xs.text-gray-500
      = post.created_at.strftime('%d %b %Y')
  .flex.flex-row.justify-between
    .text-lg.font-bold.text-neutral-800.font-serif
      = post.title

  .justify-between
    .text-ellipsis.line-clamp-3.text-neutral-500.font-serif
      = post.body_content

  .flex.flex-row.gap-1.text-sm.text-gray-500.items-end.mt-5

    %svg.feather.feather-bar-chart-2{class: "text-[#f1b041]", :fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
      %line{:x1 => "18", :x2 => "18", :y1 => "20", :y2 => "10"}
      %line{:x1 => "12", :x2 => "12", :y1 => "20", :y2 => "4"}
      %line{:x1 => "6", :x2 => "6", :y1 => "20", :y2 => "14"}

    .text-center
      #{post.views} views