.bg-neutral-50.h-screen
  .div.mx-auto.py-2.max-w-3xl.drop-shadow-md.bg-white.rounded-lg.h-full
    .max-w-xl.mx-auto
      #editor.mt-20{"data-controller": "editor", "data-editor-value" => "#{@post.draft_body}", "data-editor-read-only" => "false"}      
        %div{"data-editor-target": "render" }
  

      

