

#editor.mt-20{"data-controller": "editor", "data-editor-value" => "#{@post.body}", "data-editor-read-only" => false}
  
  %div{"data-editor-target": "render" }





%br

%br

%br
%br
%br
%br

%br

%br

%br

%br

%br

%br




= render 'form'

= link_to 'Show', @post
\|
= link_to 'Back', posts_path
