.grid.grid-cols-8.mt-10.px-5.divide-x.h-full
  .col-span-5.px-10
    .flex.flex-col
      
      .text-left.font-semibold.text-2xl.mb-2
        Stories & Ideas for Today

      .text-left.text-sm.uppercase.mb-5
        #{Date.today.strftime("%A, %d %B")}

      
      
      = render 'shared/public_user_posts', posts: @non_authored_posts
  
  .col-span-3.px-10
    .flex.flex-col
      
      .text-left.font-semibold.text-2xl.mb-5
        What you've been reading...

      
      = render 'shared/public_user_posts', posts: current_user.visited_posts