%p#notice= notice

.mx-auto.prose{"data-controller": "editor", "data-editor-value" => "#{@post.body}", "data-editor-read-only" => 'true'}
  
  %div{"data-editor-target": "render" }
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path


