.container.max-w-xl.mx-auto


  = render 'banner', user: @user


  - renderer = RenderEditorjs::DefaultRenderer.new("checklist" => ChecklistBlockRenderer.new)
  - document = RenderEditorjs::Document.new(@post.body, renderer)
  = render partial: 'post_content', locals: { content_html: document.render }

  %hr.mb-5.mt-5

  .block.text-gray-700.font-bold.mb-5
    Comments

  .div#commentsForm
    = render 'comments/form', post: @post, comment: Comment.new
  
  
  .div#comments
    = render 'comments/comments', comments: @post.comments.kept.includes([:user])
    
 